.discover-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}
.discover-main .cover-img {
    width: 30vw;
    max-width: 350px;
    height: auto;
    margin-left: 2rem;
}

.icon-section {
    display: flex;
}
.icon {
    width: 100px;
    height: 100px;
    background-color: #202027;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem;
    padding: .7rem;
}
.icon img {
    width: 40px;
}


@media (max-width: 900px) {
    .discover-main {
        flex-direction: column;
        justify-content: center;
    }
    .discover-main .cover-img {
        width: auto;
        height: 30vh;
        margin-top: 2rem;
    }
}